<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href='https://fonts.googleapis.com/css?family=Bowlby One SC' rel='stylesheet'>
</head>
<h1 class="Title">Mountaineer</h1>
  <div class="topnav">
    <ul>
      <li><a href="/trails/new">ADD TRAIL</a></li>
      <li><a href="/trails">ALL TRAILS</a></li>
      <li style="float: right;"><% if (user) { %>
        <a href="/logout"><i class="material-icons left"></i>Log Out</a>
      <% } else { %>
        <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
      <% } %>
      </li>
    </ul>
  </div>