<%- include('../partials/header') %>
<body>
    <table>
        <thead>
            <tr>
                <th>username</th>
                <th>name</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(u) { %>
            <tr>
                <td><%= u.username %></td>
                <td><%= u.name %></td>
            </tr>
           <% }); %>
        </tbody>
    </table>
</body>
</html>