<%- include('../partials/header') %>
<body>
<form id="new-user-form" action="/users" method="POST">
    <label>Username:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="text" name="password"><br>
    <label>Name:</label>
    <input type="text" name="name"><br>
    <input type="submit" value="Add User">
</form>
</body>
</html>